<div ngClass="container">
    <div ngClass="row justify-content-center">
        <div ngClass="col-12">
            <form name="sign-in" action="/">
                <div ngClass="row">
                    <div ngClass="col-md-6">
                        <div ngClass="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" ngClass="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" ngClass="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div ngClass="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" ngClass="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div ngClass="form-check">
                            <input type="checkbox" ngClass="form-check-input" id="exampleCheck1">
                            <label ngClass="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" ngClass="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>